#!/usr/bin/env bash

##################
# Helper functions
##################
# Function to check if string contains substring
contains() {
    case "$1" in
        *"$2"*) return 0 ;;
        *) return 1 ;;
    esac
}

# Function to add a text block to a file if a marker is missing in the file
add_block_if_missing() {
    target_file="$1"
    block="$2"
    marker="$3"

    if ! grep -Fq "$marker" "$target_file"; then
        printf "\n# Added by Chezmoi setup script\n%s\n" "$block" >> "$target_file"
        echo "Added block to $target_file (marker: $marker)"
        reload_shell
    else
        echo "Block already present in $target_file (marker: $marker)"
    fi
}

#################################################################
# Output current content, might be empty if file is being created
#################################################################
content=$(cat)
echo "$content"


####################
# Add custom content
####################
# Check if a marker already exists
# if echo "$content" | grep -q "# CHEZMOI_MANAGED"; then
# else
#     # Append our content
#     echo "$content"
#     echo ""
#     echo "# CHEZMOI_MANAGED"
#     echo "export PATH=\$PATH:/usr/local/bin"
# fi
