########################
# Java related variables
########################
JAVA_HOME=$(/usr/libexec/java_home)

###########################
# Node.js related variables
###########################
NVM_DIR="{{ joinPath .chezmoi.homeDir ".nvm" }}"

##############################
# Kubernetes related variables
##############################
PATH="${PATH}:{{ joinPath .chezmoi.homeDir ".krew/bin" }}"

###############
# Export editor
###############
EDITOR="code --wait"

################
# Brew variables
################
# /Users/juliannonino/.zshenv:24: command not found: brew
# HOMEBREW_PREFIX=$(brew --prefix)
