#######################
# Zsh related variables
#######################
ZSH="{{ joinPath .chezmoi.homeDir ".oh-my-zsh" }}"

########################
# Java related variables
########################
JAVA_HOME=$(/usr/libexec/java_home)

###########################
# Node.js related variables
###########################
NVM_DIR="{{ joinPath .chezmoi.homeDir ".nvm" }}"

##########################
# Python related variables
##########################
PYENV_ROOT="{{ joinPath .chezmoi.homeDir ".pyenv" }}"
PATH="${PATH}:$PYENV_ROOT/bin"

##########################
# Golang related variables
##########################
GOENV_ROOT="{{ joinPath .chezmoi.homeDir ".goenv" }}"
PATH="{$PATH}:$GOENV_ROOT/bin"
PATH="{$PATH}:$GOROOT/bin"
PATH="${PATH}:$GOPATH/bin"
PATH="${PATH}:$HOME/.rd/bin"

########################
# Ruby related variables
########################
PATH="${PATH}:{{ joinPath .chezmoi.homeDir ".rbenv" }}"

##############################
# Kubernetes related variables
##############################
PATH="${PATH}:{{ joinPath .chezmoi.homeDir ".krew/bin" }}"

###############
# Export editor
###############
EDITOR="code --wait"
