########################
# Java related variables
########################
JAVA_HOME=$(/usr/libexec/java_home)

###########################
# Node.js related variables
###########################
NVM_DIR="{{ joinPath .chezmoi.homeDir ".nvm" }}"

##########################
# Golang related variables
##########################
export GOENV_ROOT="$HOME/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"
eval "$(goenv init -)"
export PATH="$GOROOT/bin:$PATH"
export PATH="$PATH:$GOPATH/bin"
export PATH=$PATH:$(go env GOPATH)/bin
export PATH="$PATH:$(go env GOPATH)/bin:$(goenv prefix)/bin"

##############################
# Kubernetes related variables
##############################
PATH="${PATH}:{{ joinPath .chezmoi.homeDir ".krew/bin" }}"

###############
# Export editor
###############
EDITOR="code --wait"

################
# Brew variables
################
# /Users/juliannonino/.zshenv:24: command not found: brew
# HOMEBREW_PREFIX=$(brew --prefix)
