#!/usr/bin/env zsh

# Include shared blocks
{{ includeTemplate "shell_settings" . }}

# Start with the original content
current_content="$original_content"

# Insert configurations
current_content=$(upsert_block "$current_content" "$users_bin_path_block" "UsersPath")
current_content=$(upsert_block "$current_content" "$homebrew_block" "Homebrew")
current_content=$(upsert_block "$current_content" "$direnv_block_zsh" "Direnv")
current_content=$(upsert_block "$current_content" "$pyenv_block" "Pyenv")
current_content=$(upsert_block "$current_content" "$goenv_block" "Goenv")
current_content=$(upsert_block "$current_content" "$nvm_block" "Nvm")
current_content=$(upsert_block "$current_content" "$rbenv_block_zsh" "Rbenv")
current_content=$(upsert_block "$current_content" "$tfswitch_block_zsh" "TerraformSwitch")
current_content=$(upsert_block "$current_content" "$tgswitch_block_zsh" "TerragruntSwitch")
current_content=$(upsert_block "$current_content" "$tofuswitch_block_zsh" "TofuSwitch")
current_content=$(upsert_block "$current_content" "$custom_functions_block" "CustomFunctions")
current_content=$(upsert_block "$current_content" "$zsh_block" "ZshConfig")

# Output the final result
echo "$current_content"
