#!/usr/bin/env bash

set -eEuo pipefail

#####################
# Functions for Linux
#####################
{{ if eq .chezmoi.os "linux" }}

##########################
# Use Zsh as default shell
##########################
# ZSH_PATH=$(which zsh)
# if grep --fixed-strings --line-regexp --quiet $ZSH_PATH /etc/shells
# then
#     echo "No need to add $ZSH_PATH into /etc/shells"
# else
#     echo "Adding $ZSH_PATH into /etc/shells"
#     sudo sh -c "echo $(which zsh) >> /etc/shells"
# fi
# chsh -s $(which zsh)

########################################
# Configure GitHub Cli to clone with SSH
########################################
# gh config set git_protocol ssh

###############################
# Install Python latest version
###############################
# pyenv install --skip-existing 3
# pyenv global $(pyenv latest 3)
# pip install --upgrade pip

##################################
# Kubernetes related configuration
##################################
# [[ {{ joinPath .chezmoi.homeDir ".rd/bin/kubectl" }} ]] && source <(kubectl completion zsh)

###################
# Specific commands
###################
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }} # WSL specific functions

{{ else }} # Not WSL specific functions

{{ end }}

{{ end }}
