{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/usr/bin/env bash

set -eEuo pipefail

######
# Brew
######
chmod g-w,o-w $HOMEBREW_PREFIX/share

##########################
# Use Zsh as default shell
##########################
{{ if eq .chezmoi.os "darwin" }}
  ZSH_PATH=$(which zsh)
  if grep --fixed-strings --line-regexp --quiet $ZSH_PATH /etc/shells
  then
      echo "No need to add $ZSH_PATH into /etc/shells"
  else
      echo "Adding $ZSH_PATH into /etc/shells"
      sudo sh -c "echo $(which zsh) >> /etc/shells"
  fi
  # chsh -s $(which zsh)
{{ end }}

########################################
# Configure GitHub Cli to clone with SSH
########################################
gh config set git_protocol ssh

###############################
# Install Python latest version
#   Install Python global modules requirements hash: {{ include ".files/requirements.txt" | sha256sum }}
###############################
pyenv install --skip-existing 3
pyenv global $(pyenv latest 3)
pip install --no-input --upgrade pip
pip install --no-input --requirement {{ joinPath .chezmoi.sourceDir ".files/requirements.txt" | quote }}
echo "Pyenv gobal version: $(pyenv global)"

#############################
# Install Ruby latest version
#############################
LATEST_RUBY_VERSION=$(curl --silent https://api.github.com/repos/ruby/ruby/releases/latest | jq -r '.name')
rbenv install --skip-existing $LATEST_RUBY_VERSION
rbenv global $LATEST_RUBY_VERSION
echo "Rbenv gobal version: $(rbenv global)"

#############################
# Install Go latest version
#############################
GOLANG_LATEST=$(goenv install --list | sort --version-sort --reverse | head -1 | xargs)
goenv install --skip-existing latest
goenv global $GOLANG_LATEST
echo "Goenv gobal version: $(goenv global)"

##################################
# Kubernetes related configuration
##################################
# [[ {{ joinPath .chezmoi.homeDir ".rd/bin/kubectl" }} ]] && source <(kubectl completion zsh)

##################
# Configure iTerm2
#   Main profile hash: {{ include ".files/iterm/Main.json" | sha256sum }}
##################
{{ if eq .chezmoi.os "darwin" }}
  cp {{ joinPath .chezmoi.sourceDir ".files/iterm/Main.json" | quote }} {{ joinPath .chezmoi.homeDir "Library/Application Support/iTerm2/DynamicProfiles" | quote }}
  defaults write com.googlecode.iterm2 "Default Bookmark Guid" -string "F06B6A79-D0FA-4825-BF71-F2D3B153CCE3"
{{ end }}

######################
# Add custom functions
#   Custom functions hash: {{ include "dot_config/functions.sh.tmpl" | sha256sum }}
######################
source {{ joinPath .chezmoi.homeDir ".config/functions.sh" }}

########################
# WSL Specific Functions
########################
{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
{{ end }}

{{ end }}
