{{- if or
      (eq .chezmoi.os "darwin")
      (eq .chezmoi.os "linux")
      (and (eq .chezmoi.os "linux") (contains (lower .chezmoi.kernel.osrelease) "microsoft"))
    -}}
#!/usr/bin/env bash

# Copyright [2023] Julian Nonino
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -eEuo pipefail

# Determine package manager based on distro (Debian vs Fedora/RHEL)
{{- $id := .chezmoi.osRelease.id | lower | default "" -}}
{{- $like := .chezmoi.osRelease.idLike | lower | default "" -}}

# Run system updates & install tools
{{- if or (eq $id "debian") (contains $like "debian") -}}
sudo apt-get update -y
sudo DEBIAN_FRONTEND=noninteractive apt-get upgrade -yq
sudo DEBIAN_FRONTEND=noninteractive apt-get install -yq build-essential procps curl file git
{{- else if or (eq $id "fedora") (contains $like "rhel") -}}
sudo dnf -y update
sudo dnf -y upgrade
sudo dnf -y install @development-tools procps-ng curl file git
{{- else -}}
{{- fail (printf "Unsupported Linux distro: %q (idLike=%q)" $id $like) -}}
{{- end }}

{{- end -}}

#####################################
# Install Homebrew if missing
#####################################
if ! command -v brew &> /dev/null; then
  echo "brew is not installed"
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{- if eq .chezmoi.os "linux" -}}
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

export HOMEBREW_PREFIX=$(brew --prefix)
eval "$($HOMEBREW_PREFIX/bin/brew shellenv)"

{{- if eq .chezmoi.os "linux" -}}
brew install gcc
{{- end }}

###################
# Brew dependencies
###################
brew update

{{- if and (eq .chezmoi.os "linux") (lower .chezmoi.kernel.osrelease | contains "microsoft") -}}
brew bundle --verbose --debug --file {{ joinPath .chezmoi.sourceDir ".files/Brewfile_wsl" | quote }}
{{- else -}}
brew bundle --verbose --debug --file {{ joinPath .chezmoi.sourceDir ".files/Brewfile" | quote }}
{{- end }}

brew upgrade
brew autoremove
brew cleanup

#######################################
# Install oh-my-zsh
#######################################
if [ -d {{ joinPath .chezmoi.homeDir ".oh-my-zsh" }} ]; then
  echo "oh-my-zsh is installed"
else
  echo "oh-my-zsh is not installed"
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

#########################
# Ensure version managers
#########################
mkdir -p {{ joinPath .chezmoi.homeDir ".nvm" }}
mkdir -p {{ joinPath .chezmoi.homeDir ".rbenv" }}

# You can add WSL-specific hooks here (inside same conditional)
