#!/bin/env bash

# Create a new directory and get into it
mkcd() {
  mkdir -p "$@"
  cd "$_";
}

# Git clone repository and cd into it
git-clone-cd() {
  URL="$1"
  BASENAME=$(basename $URL)
  REPO_NAME=${BASENAME%.*}
  git clone "$URL"
  cd "$REPO_NAME"
}

# Git clone work repository and cd into it
git-clone-work() {
  URL=$1
  git-clone-cd $URL
  git config user.name {{ .name | quote }}
  git config user.email {{ .email_work | quote }}
}
