#!/bin/env bash

# Create a new directory and get into it
mkcd() {
  mkdir -p "$@"
  cd "$_";
}

# Git clone repository and cd into it
git-clone-cd() {
  URL="$1"
  BASENAME=$(basename $URL)
  REPO_NAME=${BASENAME%.*}
  git clone "$URL"
  cd "$REPO_NAME"
}
