#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}

set -eEuo pipefail

# Update and Upgrade
sudo apt-get update
sudo apt-get upgrade

# Instal system deps
# sudo apt install build-essential curl file -y


# WSL specific installations
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

{{ end }}

{{ end }}
