{{- if .os.linux -}}

#!/usr/bin/env bash

# Copyright [2023] Julian Nonino
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -eEuo pipefail

echo "############################################"
echo "### Running installation script on Linux ###"
echo "############################################"

###############################################################################
# System upgrade and system packages
###############################################################################
echo "Running system upgrade and installing tools"

{{ if .os.debian_based -}}

sudo apt-get update -y
sudo DEBIAN_FRONTEND=noninteractive apt-get upgrade -y
sudo DEBIAN_FRONTEND=noninteractive apt-get install -y {{ .linux_packages.debian | join " " }}

{{- else if .os.fedora_based }}

sudo dnf -y update
sudo dnf -y upgrade
sudo dnf -y install {{ .linux_packages.fedora | join " " }}

{{- else }}
  {{ fail (printf "Unsupported Linux distro: %q (idLike=%q)" .os.release_id .os.release_id_like) }}
{{- end }}

###############################################################################
# Install Homebrew
###############################################################################
{{ includeTemplate "install_homebrew" . }}

test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# # Function to append and source shellenv for a user's shell rc
# add_and_source_shellenv() {
#   local fpath="$1"

#   # Skip if the directory doesn't exist
#   if [ ! -d "$(dirname "$fpath")" ]; then
#     echo "Skipping ${fpath}: directory does not exist"
#     return
#   fi

#   if ! grep -Fq 'brew shellenv' "$fpath"; then
#     echo "Updating path ${fpath}"
#     if [ -w "$fpath" ]; then
#       {
#         echo ""
#         echo '# Homebrew shellenv added by chezmoi'
#         echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"'
#       } >> "$fpath"
#     else
#       sudo sh -c "{
#         echo '';
#         echo '# Homebrew shellenv added by chezmoi';
#         echo 'eval \"\$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)\"';
#       } >> '$fpath'"
#     fi
#     echo "Updated path ${fpath}"
#   else
#     echo "Path ${fpath} already updated"
#   fi
# }

# if command -v brew &>/dev/null; then
#   echo "Homebrew is installed - ensuring shellenv is set"

#   for rc in /etc/profile /etc/bash.bashrc /etc/zsh/zshrc /etc/zsh/zprofile ~/.bashrc ~/.zshrc; do
#     add_and_source_shellenv "$rc"
#   done
# fi

###############################################################################
# Install packages with Homebrew
###############################################################################
{{ includeTemplate "brew_execution" . }}

{{ end -}}
