name: Test Chezmoi repo

on:
  push:
    branches:
      - main

env:
  GH_USERNAME: jnonino

jobs:
  # Commented because they consume lots of credits
  # macos:
  #   runs-on: macOS-latest
  #   steps:
  #     - name: Install Chezmoi
  #       run: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/bin
  #     - name: Chezmoi init
  #       run: chezmoi init $GH_USERNAME
  #     - name: Chezmoi diff
  #       run: chezmoi diff
  #     - name: Configure dotfiles
  #       run: chezmoi apply --force --verbose --debug

  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Update system
        run: apt-get update
      - name: Install Zsh
        run: apt-get install -y zsh
      - name: Install Chezmoi
        run: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin
      - name: Chezmoi init
        run: chezmoi init https://github.com/$GH_USERNAME/dotfiles.git
      - name: Chezmoi diff
        run: chezmoi diff
      - name: Configure dotfiles
        run: chezmoi apply --force --verbose --debug

  # Commented because they consume lots of credits
  # windows:
  #   runs-on: windows-latest
  #   steps:
  #     - name: Install Chezmoi
  #       run: (irm -useb https://get.chezmoi.io/ps1) | powershell -c -
  #     - name: Chezmoi init
  #       run: chezmoi init $GH_USERNAME
  #     - name: Chezmoi diff
  #       run: chezmoi diff
  #     - name: Configure dotfiles
  #       run: chezmoi apply --force --verbose --debug
